<ng-container *ngIf="lineChartData.labels?.length === 0; else elseTemplate">
    Cargando...
</ng-container>

<ng-template #elseTemplate>
    <ng-container *ngIf="tempOrRain; else secondT">
        <div class="row px-5"  >
            <h4 class="m-0">5 Day / 3 Hour Forecast</h4>
       </div>
     
<div *ngIf="mostrarTabla1">
        <div class="flex mt-1 p-3">
            <div class="flex-item">
                <div style="display: block;">
                    <canvas baseChart width="400" height="220" 
                        [data]="lineChartData" 
                        [options]="lineChartOptions" class="px-3"
                        [type]="lineChartType" 
                        (chartHover)="chartHovered($event)" 
                        (chartClick)="chartClicked($event)">
                    </canvas>
                </div>
            </div>
        </div>
    </div>
        <button (click)="changeGrafic(false)" pButton pRipple type="button"   class="p-button-outlined p-button-secondary float-end  mt-2">Rain/Snow Today</button>
    </ng-container>
    <ng-template #secondT>
        <div class="row px-5" >
            <h4 class="m-0">Rain and snow last hour Today</h4>
       </div>

        <div style="display: block" class="mt-1 p-5">
            <canvas baseChart
              [data]="barChartData"
              [options]="barChartOptions"
              [plugins]="barChartPlugins"
              [type]="barChartType"
              (chartHover)="chartHovered($event)"
              (chartClick)="chartClicked($event)">
            </canvas>
          </div>
          <button (click)="changeGrafic(true)"  pButton pRipple type="button"   class="p-button-outlined p-button-secondary float-end mt-2">5 Day / 3 Hour Forecast</button>
    </ng-template>

   
</ng-template>