<div class="row widht_court  ">
    <div class="row p-3">
        <div *ngIf="today.hour < 13" >
           <h5 class=" float-end"> {{today.day}} {{ today.hour | number:"2.0-0"}}:{{today.minute | number:"2.0-0"}} am </h5>
        </div>
        <div *ngIf="today.hour > 12 && today.hour < 24 ">
          <h5 class=" float-end">  {{today.day}} {{ today.hour -12 | number:"2.0-0"}}:{{today.minute | number:"2.0-0"}} pm </h5>
        </div>
    </div>
    <hr>
    <div class="col-6 container_first_card">


        <div class="row text-center">
            <h5> {{nameCity}} </h5>
        </div>
        <div class="row text-center">
            <h3> {{tempToday.temp | number:".0-0" }} ºC </h3>
        </div>

    </div>
    <div class="col-6 w-50 d-flex justify-content-center">
        <div *ngIf="tempToday.main === 'Clear'">
            <img src="../../../assets/icons/dom.png" class="icons_weather" />
        </div>
        <div *ngIf="tempToday.main === 'Clouds' && tempToday.mode === 'few clouds'">
            <img src="../../../assets/icons/nubladoOne.png" class="icons_weather" />
        </div>
        <div *ngIf="tempToday.main === 'Clouds' && tempToday.mode === 'scattered clouds'">
            <img src="../../../assets/icons/nublado.png" class="icons_weather" />
        </div>
        <div *ngIf="tempToday.main === 'Clouds' && tempToday.mode === 'broken clouds'">
            <img src="../../../assets/icons/nube.png" class="icons_weather" />
        </div>

        <div *ngIf="tempToday.main === 'Clouds' && tempToday.mode === 'overcast clouds'">
            <img src="../../../assets/icons/nube.png" class="icons_weather" />
        </div>
        <div *ngIf="tempToday.main === 'Drizzle'">
            <img src="../../../assets/icons/lluvia.png" class="icons_weather" />
        </div>
        <div *ngIf="tempToday.main === 'Rain'">
            <img src="../../../assets/icons/lluviaSol.png" class="icons_weather" />
        </div>
        <div *ngIf="tempToday.main === 'Thunderstorm'">
            <img src="../../../assets/icons/tormenta.png" class="icons_weather" />
        </div>
        <div *ngIf="tempToday.main === 'Snow'">
            <img src="../../../assets/icons/nevando.png" class="icons_weather" />
        </div>
        <div *ngIf="tempToday.main === 'Snow'">
            <img src="../../../assets/icons/nevando.png" class="icons_weather" />
        </div>
        <div
            *ngIf="tempToday.main === 'Mist' || tempToday.main === 'Smoke' || tempToday.main === 'Haze' || tempToday.main === 'Dust' || tempToday.main === 'Fog' || tempToday.main === 'Sand' || tempToday.main === 'Ash' || tempToday.main === 'Squall' || tempToday.main === 'Tornado' ">
            <img src="../../../assets/icons/tornado.png" class="icons_weather" />
        </div>
    </div>

    <div class="row container-data-today">
        <p class='title-subtitleCard'>
            <strong> Feels like {{tempToday.temp}}º. {{tempToday.mode | titlecase}} </strong>
        </p>
        <div class="row">
            <div class="col-1"></div>
            <div class="col-5">
                <div>
                    <div *ngIf="tempToday.deg >= 325 || tempToday.deg < 35">
                        <i class="pi pi-angle-up"></i> {{ tempToday.speed | number:".0-2"}} m/s N
                    </div>
                    <div *ngIf="tempToday.deg >= 35 && tempToday.deg < 135">
                        <i class="pi pi-angle-right"></i> {{ tempToday.speed | number:".0-2"}} m/s E
                    </div>
                    <div *ngIf="tempToday.deg >= 135 && tempToday.deg < 235">
                        <i class="pi pi-angle-down"></i> {{ tempToday.speed | number:".0-2"}} m/s S
                    </div>
                    <div *ngIf="tempToday.deg >= 235 && tempToday.deg < 335">
                        <i class="pi pi-angle-left"></i> {{ tempToday.speed | number:".0-2"}} m/s W
                    </div>
                </div>

            </div>
            <div class="col-5">
                <i class="pi pi-check-circle"></i> {{tempToday.pressure}} hPa
            </div>
        </div>
        <div class="row">
            <div class="col-1"></div>
            <div class="col-5">
                Humidity: {{tempToday.humidity | number:".0-0"}} %
            </div>
            <div class="col-5">
                Visibility: {{ tempToday.visibility/1000 | number:".0-0"}} km
            </div>
        </div>
        <div class="row">
            <div class="col-1"></div>
            <div class="col-5">
                Max: {{ tempToday.max | number:".0-0"}} ºC
            </div>
            <div class="col-5">
                Min: {{ tempToday.min | number:".0-0"}} ºC
            </div>
        </div>

    </div>
</div>