<div class="row mt-2">
    <app-search></app-search>
</div>
 
<div class="row mt-5">
    <div class="col-12 col-lg-5 mb-3 ">
       <app-location-card></app-location-card>
    </div>
    <div class="col-12 col-lg-7">
        <app-map-box></app-map-box>
    </div>
</div>
 
<div class="row mt-2">
    <div class="col-12 col-lg-7 px-1">
        <app-table-five-days></app-table-five-days>
    </div>
    <div class="col-12 col-lg-5 px-1">
        <app-cards-five-days></app-cards-five-days>
    </div>
</div>