/* You can add global styles to this file, and also import other style files */
.container_first_card{
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 25px;
     

    

}

.map_dimension{
    min-height: 200px;
    padding: 20px;
    border-radius: 20px;
}
.widht_court{
    width: 95%;
    padding-left: 30px;
    margin: 0px;
}
.container-data-today{
    border: 4px lightgrey solid;
    border-radius: 20px;
    padding: 10px;
    margin: 5px;
}
.icons_weather{
    width: 150px;
    height: 150px;
    padding: 30px;

}

.title-subtitleCard{
    padding-left: 20px;
}

#map-mapbox {
    width: 100%;
    height: 100%;
    
}

.product-item-content{
    width: 100%;
    height: 400px;
     
}
.product-item{
    border: 4px solid lightgrey;
    border-radius: 20px;
    margin: 5px;
}